header {
    background-color: blue;
}

#logo {
    color: white;
    text-shadow: 2px 2px 4px white;    
}

#login, #register {
    color: blue;
    background-color: white;
    border-radius: 10%;
    padding: 10px 24px;
}

#login {
    right: 160px;
}

nav {
    border-bottom: 15px solid red;
    background-color: white;
}

img {
    position: absolute;
    left: 94%;
    object-fit: scale-down;
    height: 100px;
    width:  100px;
}

a:link, a:visited {
    color: red;
}

section {
    width: 100%;
}

h2, h3, h4, h5 {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    padding: 20px;
    margin-left: -25px;
}

.grid-container > div {
    background-color:  #e7e7e7;
    text-align: justify;
    padding: 20px;
}

footer, footer a:link, footer a:visited {
    background-color: blue;
    color: white;
}





