header { /*color*/
    background-color: rgb(20, 20, 136);
}

nav { /*color*/
    border-bottom: 15px solid red;
    background-color: white;
}

#logo { /*color*/
    color: white;
    text-shadow: 2px 2px 4px white;    
}

#login { /*postion due to increased button size*/
    right: 160px;
}

input { /*color, border, padding, and radius*/
    color: rgb(20, 20, 136);
    background-color: white;
    border-radius: 10%;
    border: 0px;
    padding: 10px 24px;
}

a:link, a:visited { /*color*/
    color: red;
}

section { /*width*/
    width: 100%;
}

h2, h3, h4, h5 { /*alignment*/
    text-align: center;
}

p {
    text-indent: 25px;
  }

img { /*position and scaling*/
    position: absolute;
    left: 94%;
    object-fit: scale-down;
}

.grid-container {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 30px;
    padding: 20px;
    margin-left: -15px;
}

.grid-container > div {
    background-color:  #e7e7e7;
    text-align: justify;
    padding: 20px;
}

footer, footer a:link, footer a:visited { /*color*/
    background-color: rgb(20, 20, 136);
    color: white;
}





