header {
    background-color: rgb(52, 101, 150);
}

#login, #register {
    color: rgb(52, 101, 150);
    background-color: gold;
    border-radius: 10%;
    border: 0px;
    padding: 10px 24px;
}

#login {
    right: 160px;
}

#logo {
    color: white;
    text-shadow: 2px 2px 4px white;    
}

nav {
    border-bottom: 15px solid rgb(52, 101, 150);
    background-color: gold;
}

img {
    position: absolute;
    left: 94%;
    object-fit: scale-down;
    height: 100px;
    width:  100px;
}
   
a:link, a:visited {
    color: rgb(52, 101, 150);
}

section {
    width: 100%;
}

h2, h3, h4, h5 {
    text-align: center;
}

p {
    text-indent: 25px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    padding: 20px;
    margin-left: -25px;
}

.grid-container > div {
    background-color:  #e7e7e7;
    text-align: justify;
    padding: 20px;
}

footer, footer a:link, footer a:visited {
    background-color: rgb(52, 101, 150);
    color: gold;
}





